body {
   background-color:cornsilk;
  }
.MENU li a{
  text-decoration: none;
  color: rgb(223, 44, 230);
  font-family: Courier New;
}
.MENU li ul li{
  margin-left: 0px;
} 
.MENU1>li{
  font-weight: 300;
  list-style:square;
}
.MENU1>li>a:hover{
  color: red;
  margin-left: 20px;
}
.MENU>li>a:hover{
  color: green;
  margin-left: 20px;

}
.MENU>li{
  list-style:none;
  width: 200px;
  height: 20px;
  overflow: hidden;
  font-weight: 600;
  transition: 2s;
}
.MENU>li:hover{
  height: auto;
}
.tot{
  background-color: #ccc;
  overflow: hidden;
  width: 250px;
}
.CAIXA1 {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  background: red;
  font-size: 40px;
  text-align: center;
  line-height: 10px;
 float: left;
}
.CAIXA2 {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  background: green;
  font-size: 40px;
  text-align: center;
  line-height: 10px;
 float: left;
}
.CAIXA3 {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  background:blue;
  font-size: 40px;
  text-align: center;
  line-height: 10px;
 float: left;
}
 