body {
   background-color:aliceblue;
}
.MENU li a{
  text-decoration: none;
  color: rgb(250, 140, 6);
  font-family: Lucida Sans;
}
.MENU li {
  list-style:none;
  width: 100px;
}
.MENU li ul li{
  margin-left: 0px;
} 
.MENU>li{
  font-weight: 600;
}
.MENU1>li{
  font-weight: 300;
}